<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farbodsz.familytree">

    <application
        android:name=".FamilyTreeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.tree.TreeActivity" />

        <activity android:name=".ui.tree.TreeListActivity" />

        <activity
            android:name=".ui.person.PersonListActivity"
            android:label="@string/title_person_list" />

        <activity
            android:name=".ui.event.EventsActivity"
            android:label="@string/title_events" />

        <activity
            android:name=".ui.person.ViewPersonActivity"
            android:label="@string/title_view_person" />

        <activity
            android:name=".ui.person.EditPersonActivity"
            android:label="@string/title_edit_person" />

        <activity
            android:name=".ui.person.CreatePersonActivity"
            android:label="@string/title_create_person" />

        <activity
            android:name=".ui.marriage.EditMarriageActivity"
            android:label="@string/title_edit_marriage" />

        <activity
            android:name=".ui.marriage.ViewMarriageActivity"
            android:label="@string/title_view_marriage" />
    </application>
</manifest>
